h1{
    text-align: center;
    border: 1px solid  gainsboro;
    padding-left: 60px;
    background-color: gainsboro;
    border-radius: 20px;
    
}
.bio{
    background-color: rgba(214, 218, 216, 0.842);

}
p{
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding-left: 10px;
    font-style: oblique;
    font-size: 20px;
    
}
